.blogMainDiv {
  font-family: "Nexa", sans-serif;
}
.blogInner h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 25px 0 15px;
  /* color: #8cc63e; */
  color: #16374b;
}
.blogInner p {
  color: black;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 27px;
  padding: 0 !important;
  margin: 0 0 25px !important;
}

.blogDiv {
  margin-top: 25px;
  margin-bottom: 25px;
}

.blogTime {
  display: flex;
  flex-direction: row;
}

.productImg Img {
  width: auto;
  max-width: 100%;
  display: inline-block;
  /* max-height: 225px; */
  height: auto;
}

.blogLink {
  /* text-decoration: underline; */
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .blogMainDiv {
    padding: 15px;
  }
}
